//variable
@import "variables";
@import "mixins";

//reset, normalize, helper-class
@import "partials/normalize";


.navigation-section {
  .navigation-header {
    width: 100vw;


    .navigation-container {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      box-sizing: border-box;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .navigation-logo {
        font-family: $logo-font;
        letter-spacing: 0px;
        color: #08A6E4;
        opacity: 1;
        font-size: 2rem;
        margin-left: 136px;
      }

      .navigation-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          margin-right: 95px;
          list-style: none;


          a {
            text-align: center;
            font: normal normal bold 11px/15px $text-font;
            letter-spacing: 3.28px;
            color: $color-grey;
            opacity: 1;
            text-decoration: none;
          }

          a:hover {
            border-bottom: 4px solid $color-primary;
            opacity: 1;
            padding-bottom: 25px; // przerobic to na calc
            color: $color-black;
          }
        }

      }
    }
  }
}
